[MASTER]
# Not interested in migrations style
ignore=migrations
[MESSAGES CONTROL]
# These warnings are annoying, disable them:
# C0111: Missing docstring
# R0913 to many arguments
# R0903: Too few public methods (N/2)
disable=R0913,C0111,R0903
[FORMAT]
max-line-length=160