
{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block head_title %}
      Bianca
        {% endblock %}
        {{title}}
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
{% include 'navbar2.html' %}
<body>

<img style="position: absolute; top: 0; left: 0; border: 0;"
    src="{% static  "BiancaLogo.png"%}" alt="bianca logo">

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bianca {{title}}
      </h1> 
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>